/.codemap
/.codetwin
node_modules/
extension/dist/
/dist/*.vsix
__pycache__/
*.pyc
/extension/sidecar/
/verifier/target/
webview/dist/
extension/webview-dist/
/extension/policy/
/.meridian/workbench/
!webview/index.html
